.body{
    display:flex;
    
}


.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .foto {
    flex-basis: calc(33.33% - 20px); 
    margin: 10px; 
  }
  
  .foto img {
    width: 100%;
    height: auto; 
  }
  .foto_site.jpeg{
    max-width: 50%;
    height: auto; 
    display: block;
    margin: 0 auto;
  }

  }