@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')

body{
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.tiktok.btn{
    display: flex;
    justify-content: center;
    box-shadow: rgb(red, green, blue);
    
}